# Step One

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data_table = pd.read_html(sp500url)

In [3]:
data_table

[    Symbol              Security SEC filings             GICS Sector  \
 0      MMM                    3M     reports             Industrials
 1      AOS           A. O. Smith     reports             Industrials
 2      ABT                Abbott     reports             Health Care
 3     ABBV                AbbVie     reports             Health Care
 4      ACN             Accenture     reports  Information Technology
 ..     ...                   ...         ...                     ...
 498    YUM           Yum! Brands     reports  Consumer Discretionary
 499   ZBRA    Zebra Technologies     reports  Information Technology
 500    ZBH         Zimmer Biomet     reports             Health Care
 501   ZION  Zions Bancorporation     reports              Financials
 502    ZTS                Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  Date added  \
 0              Industrial Conglomerates    Saint Paul, Minnesota  1976-08-09
 1                     Building Products     Milwaukee, Wisconsin  2017-07-26
 2                 Health Care Equipment  North Chicago, Illinois  1964-03-31
 3                       Pharmaceuticals  North Chicago, Illinois  2012-12-31
 4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
 ..                                  ...                      ...         ...
 498                         Restaurants     Louisville, Kentucky  1997-10-06
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
 500               Health Care Equipment          Warsaw, Indiana  2001-08-07
 501                      Regional Banks     Salt Lake City, Utah  2001-06-22
 502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

          CIK      Founded
 0      66740         1902
 1      91142         1916
 2       1800         1888
 3    1551152  2013 (1888)
 4    1467373         1989
 ..       ...          ...
 498  1041061         1997
 499   877212         1969
 500  1136869         1927
 501   109380         1873
 502  1555280         1952

 [503 rows x 9 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0      January 5, 2023    NaN                            NaN     VNO
 1      January 4, 2023   GEHC                  GE HealthCare     NaN
 2    December 22, 2022   STLD                 Steel Dynamics    ABMD
 3    December 19, 2022   FSLR                    First Solar    FBHS
 4    December 19, 2022    NaN                            NaN     MBC
 ..                 ...    ...                            ...     ...
 315       June 9, 1999    WLP                      Wellpoint     HPH
 316  December 11, 1998    FSR                        Firstar     LDW
 317  December 11, 1998    CCL                 Carnival Corp.     GRN
 318  December 11, 1998   CPWR                      Compuware     SUN
 319      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                      \
                            Security
 0              Vornado Realty Trust
 1                               NaN
 2                           Abiomed
 3    Fortune Brands Home & Security
 4                       MasterBrand
 ..                              ...
 315        Harnischfeger Industries
 316                           Amoco
 317                      General Re
 318                      SunAmerica
 319                          USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1    S&P 500 constituent General Electric spun off ...
 2    S&P 500 constituent Johnson & Johnson acquired...
 3                     Market capitalization change.[7]
 4                     Market capitalization change.[7]
 ..                                                 ...
 315           Harnischfeger filed for bankruptcy.[241]
 316            British Petroleum purchased Amoco.[242]
 317      Berkshire Hathaway purchased General Re.[242]
 318                     AIG purchased SunAmerica.[242]
 319                          AIG acquired USLife.[243]

 [320 rows x 6 columns]]

In [ ]:
len(data_table)

2

In [ ]:
data_table[0]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
data_table[0]['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     YUM
499    ZBRA
500     ZBH
501    ZION
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [5]:
ticker = data_table[0]['Symbol'].tolist()

In [6]:
ticker

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FSLR',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [7]:
len(ticker)

503

In [9]:
yf.download('MMM', start='2001-01-01', end = '2022-11-29')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-01-02,59.062500,60.750000,58.750000,59.593750,33.493782,4651200
2001-01-03,59.000000,59.937500,58.187500,58.906250,33.107357,4754400
2001-01-04,58.937500,59.750000,57.781250,59.500000,33.441074,4060400
2001-01-05,58.500000,58.500000,55.281250,57.281250,32.194057,8367000
2001-01-08,56.500000,57.687500,54.781250,57.625000,32.387257,5486600
...,...,...,...,...,...,...
2022-11-21,126.639999,127.879997,126.230003,127.629997,127.629997,2153500
2022-11-22,128.149994,128.669998,127.320000,128.600006,128.600006,1757100
2022-11-23,128.589996,129.119995,127.239998,128.000000,128.000000,2349700
2022-11-25,128.880005,129.820007,128.520004,129.039993,129.039993,882400
2022-11-28,128.110001,128.580002,124.120003,124.639999,124.639999,2773500

# Step Two

In [10]:
snp_prices = yf.download(ticker, start='2001-01-01', end = '2022-11-29')

[*********************100%***********************]  503 of 503 completed

3 Failed downloads:
- BRK.B: No data found for this date range, symbol may be delisted
- GEHC: Data doesn't exist for startDate = 978325200, endDate = 1669698000
- BF.B: No data found for this date range, symbol may be delisted

In [11]:
snp_prices

             Adj Close                                                         \
                     A    AAL         AAP        AAPL        ABBV         ABC
Date
2001-01-02   31.091185    NaN         NaN    0.226423         NaN    9.620434
2001-01-03   34.299583    NaN         NaN    0.249256         NaN    9.813094
2001-01-04   35.598248    NaN         NaN    0.259722         NaN    9.006370
2001-01-05   33.650265    NaN         NaN    0.249256         NaN    8.693316
2001-01-08   32.542595    NaN         NaN    0.252110         NaN    9.223099
...                ...    ...         ...         ...         ...         ...
2022-11-21  144.923859  13.85  146.690033  148.009995  155.630554  160.300003
2022-11-22  156.626404  13.98  147.986328  150.179993  158.285324  164.710007
2022-11-23  155.118668  14.42  148.975876  151.070007  157.889084  165.529999
2022-11-25  156.726273  14.50  148.431625  148.110001  158.116928  167.699997
2022-11-28  152.073196  13.83  149.045135  144.220001  156.938126  167.169998

                                                           ...     Volume  \
                   ABT       ACGL         ACN        ADBE  ...       WYNN
Date                                                       ...
2001-01-02   12.912000   1.611111         NaN   23.221340  ...        NaN
2001-01-03   12.626928   1.611111         NaN   28.787939  ...        NaN
2001-01-04   11.469881   1.611111         NaN   26.707258  ...        NaN
2001-01-05   11.536954   1.611111         NaN   25.589273  ...        NaN
2001-01-08   11.419574   1.645833         NaN   24.626575  ...        NaN
...                ...        ...         ...         ...  ...        ...
2022-11-21  103.411781  57.160000  285.850739  321.489990  ...  2094800.0
2022-11-22  104.397324  57.779999  291.696869  330.880005  ...  1374800.0
2022-11-23  105.542130  58.049999  293.330170  335.779999  ...  1087700.0
2022-11-25  106.477898  58.730000  295.192535  334.299988  ...  1311600.0
2022-11-28  104.914978  58.020000  289.416168  328.970001  ...  7483600.0

                                                                               \
                XEL       XOM     XRAY        XYL      YUM        ZBH    ZBRA
Date
2001-01-02   852000  13101200   869100        NaN  4119586        NaN  576000
2001-01-03   887100  20818000  1373400        NaN  5344778        NaN  892575
2001-01-04   963200  24566800   713700        NaN  6414179        NaN  528075
2001-01-05   760300  18777800   784500        NaN  6997843        NaN  473850
2001-01-08   456500  11058800   953400        NaN  4219181        NaN  217125
...             ...       ...      ...        ...      ...        ...     ...
2022-11-21  2876400  20973000  1761700   529400.0  1621000   655400.0  402700
2022-11-22  2625200  17719100  2033200   509900.0  1507000   834200.0  442100
2022-11-23  1947100  11546700  1435400   585600.0  1881000  1243100.0  464600
2022-11-25  1193300   7136000   614300   539600.0   870600   427900.0  202400
2022-11-28  2197600  23015500  2253800  1184900.0  1514900  1207600.0  492900


               ZION        ZTS
Date
2001-01-02   428000        NaN
2001-01-03   494100        NaN
2001-01-04   747400        NaN
2001-01-05  1019700        NaN
2001-01-08   433200        NaN
...             ...        ...
2022-11-21  1450500  1998900.0
2022-11-22   981900  1628500.0
2022-11-23   862600  1445900.0
2022-11-25   309400   889500.0
2022-11-28  1465400  1633300.0

[5512 rows x 3018 columns]

In [12]:
snp_prices = yf.download(ticker, start='2001-01-01', end = '2022-11-29')['Adj Close']

[*********************100%***********************]  503 of 503 completed

3 Failed downloads:
- BRK.B: No data found for this date range, symbol may be delisted
- GEHC: Data doesn't exist for startDate = 978325200, endDate = 1669698000
- BF.B: No data found for this date range, symbol may be delisted

In [13]:
snp_prices.isna().any()

A       False
AAL      True
AAP      True
AAPL    False
ABBV     True
        ...
YUM     False
ZBH      True
ZBRA    False
ZION    False
ZTS      True
Length: 503, dtype: bool

In [42]:
snp_prices.loc[:, snp_prices.isna().any()]

,AAL,AAP,ABBV,ACN,AIZ,ALGN,ALLE,AMCR,AMP,ANET,...,V,VICI,VRSK,WBD,WRK,WTW,WYNN,XYL,ZBH,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2001-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-21,13.85,148.240005,157.110001,287.019989,125.802971,191.630005,112.660004,11.867,325.679993,134.610001,...,206.320007,32.669998,179.647964,10.56,37.029999,236.929993,74.339996,111.989998,114.529999,147.330002
2022-11-22,13.98,149.550003,159.789993,292.890015,126.479225,191.389999,113.940002,11.990,330.420013,136.039993,...,210.330002,33.230000,178.350143,10.80,37.540001,239.119995,75.570000,112.580002,115.330002,148.630005
2022-11-23,14.42,150.550003,159.389999,294.529999,126.339996,196.279999,113.989998,12.080,332.600006,137.190002,...,211.729996,33.220001,179.747803,11.34,37.619999,241.309998,75.360001,113.250000,118.010002,150.470001
2022-11-25,14.50,150.000000,159.619995,296.399994,128.490005,194.669998,114.320000,12.080,332.410004,135.759995,...,213.789993,33.360001,182.563065,11.47,37.509998,244.020004,74.930000,113.500000,119.209999,150.100006
2022-11-28,13.83,150.619995,158.429993,290.600006,125.220001,189.779999,112.250000,11.990,325.750000,133.699997,...,211.259995,33.240002,177.242004,10.92,36.220001,239.570007,78.199997,109.610001,117.669998,148.130005

In [14]:
yf.download('BRK-B')['Adj Close']

[*********************100%***********************]  1 of 1 completed

Date
1996-05-09     23.200001
1996-05-10     24.000000
1996-05-13     23.900000
1996-05-14     23.600000
1996-05-15     23.200001
                 ...
2023-01-10    316.350006
2023-01-11    320.369995
2023-01-12    318.929993
2023-01-13    317.640015
2023-01-17    314.859985
Name: Adj Close, Length: 6718, dtype: float64

In [15]:
yf.download('BF-B')['Adj Close']

[*********************100%***********************]  1 of 1 completed

Date
1980-03-17     0.198797
1980-03-18     0.198797
1980-03-19     0.201457
1980-03-20     0.202121
1980-03-21     0.199462
                ...
2023-01-10    65.260002
2023-01-11    66.129997
2023-01-12    65.669998
2023-01-13    67.070000
2023-01-17    68.000000
Name: Adj Close, Length: 10801, dtype: float64

In [16]:
'BF-B' in ticker

False

In [17]:
'BRK-B' in ticker

False

In [18]:
for i in range(len(ticker)):
    if ticker[i] == 'BRK.B':
        ticker[i] = 'BRK-B'
    elif ticker[i] == 'BF.B':
        ticker[i] = 'BF-B'

In [19]:
'BF-B' in ticker

True

In [20]:
'BRK-B' in ticker

True

In [21]:
len(ticker)

503

In [22]:
snp_prices = yf.download(ticker, start='2001-01-01', end = '2022-11-29')

[*********************100%***********************]  503 of 503 completed

3 Failed downloads:
- ETN: No data found for this date range, symbol may be delisted
- GEHC: Data doesn't exist for startDate = 978325200, endDate = 1669698000
- ENPH: No data found for this date range, symbol may be delisted

In [23]:
snp_prices

             Adj Close                                                         \
                     A    AAL         AAP        AAPL        ABBV         ABC
Date
2001-01-02   31.091166    NaN         NaN    0.226424         NaN    9.620441
2001-01-03   34.299606    NaN         NaN    0.249256         NaN    9.813087
2001-01-04   35.598248    NaN         NaN    0.259721         NaN    9.006368
2001-01-05   33.650276    NaN         NaN    0.249256         NaN    8.693312
2001-01-08   32.542606    NaN         NaN    0.252110         NaN    9.223098
...                ...    ...         ...         ...         ...         ...
2022-11-21  144.923859  13.85  146.690033  148.009995  155.630554  160.300003
2022-11-22  156.626404  13.98  147.986328  150.179993  158.285324  164.710007
2022-11-23  155.118668  14.42  148.975876  151.070007  157.889084  165.529999
2022-11-25  156.726273  14.50  148.431625  148.110001  158.116928  167.699997
2022-11-28  152.073196  13.83  149.045135  144.220001  156.938126  167.169998

                                                           ...     Volume  \
                   ABT       ACGL         ACN        ADBE  ...       WYNN
Date                                                       ...
2001-01-02   12.911994   1.611111         NaN   23.221340  ...        NaN
2001-01-03   12.626925   1.611111         NaN   28.787937  ...        NaN
2001-01-04   11.469876   1.611111         NaN   26.707258  ...        NaN
2001-01-05   11.536953   1.611111         NaN   25.589279  ...        NaN
2001-01-08   11.419572   1.645833         NaN   24.626574  ...        NaN
...                ...        ...         ...         ...  ...        ...
2022-11-21  103.411781  57.160000  285.850739  321.489990  ...  2094800.0
2022-11-22  104.397324  57.779999  291.696869  330.880005  ...  1374800.0
2022-11-23  105.542130  58.049999  293.330170  335.779999  ...  1087700.0
2022-11-25  106.477898  58.730000  295.192535  334.299988  ...  1311600.0
2022-11-28  104.914978  58.020000  289.416168  328.970001  ...  7483600.0

                                                                               \
                XEL       XOM     XRAY        XYL      YUM        ZBH    ZBRA
Date
2001-01-02   852000  13101200   869100        NaN  4119586        NaN  576000
2001-01-03   887100  20818000  1373400        NaN  5344778        NaN  892575
2001-01-04   963200  24566800   713700        NaN  6414179        NaN  528075
2001-01-05   760300  18777800   784500        NaN  6997843        NaN  473850
2001-01-08   456500  11058800   953400        NaN  4219181        NaN  217125
...             ...       ...      ...        ...      ...        ...     ...
2022-11-21  2876400  20973000  1761700   529400.0  1621000   655400.0  402700
2022-11-22  2625200  17719100  2033200   509900.0  1507000   834200.0  442100
2022-11-23  1947100  11546700  1435400   585600.0  1881000  1243100.0  464600
2022-11-25  1193300   7136000   614300   539600.0   870600   427900.0  202400
2022-11-28  2197600  23015500  2253800  1184900.0  1514900  1207600.0  492900


               ZION        ZTS
Date
2001-01-02   428000        NaN
2001-01-03   494100        NaN
2001-01-04   747400        NaN
2001-01-05  1019700        NaN
2001-01-08   433200        NaN
...             ...        ...
2022-11-21  1450500  1998900.0
2022-11-22   981900  1628500.0
2022-11-23   862600  1445900.0
2022-11-25   309400   889500.0
2022-11-28  1465400  1633300.0

[5512 rows x 3018 columns]

In [24]:
snp_prices[['BRK-B', 'BF-B']]

KeyError: "['BRK-B' 'BF-B'] not in index"

In [54]:
snp_prices.shape

(5512, 3018)

In [25]:
snp_prices = yf.download(ticker, start='2001-01-01', end = '2022-12-13')['Adj Close']

[*********************100%***********************]  503 of 503 completed

1 Failed download:
- GEHC: Data doesn't exist for startDate = 978325200, endDate = 1670907600

Step Three

In [26]:
snp_prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2001-01-02,31.091171,NaN,NaN,0.226423,NaN,9.620437,12.912001,1.611111,NaN,23.221334,...,NaN,11.562074,22.240898,11.326708,NaN,4.101889,NaN,18.833332,41.830925,NaN
2001-01-03,34.299606,NaN,NaN,0.249256,NaN,9.813091,12.626930,1.611111,NaN,28.787943,...,NaN,11.153707,21.273911,10.745851,NaN,4.334673,NaN,20.861111,43.226715,NaN
2001-01-04,35.598240,NaN,NaN,0.259721,NaN,9.006367,11.469877,1.611111,NaN,26.707256,...,NaN,10.362479,20.681225,10.056082,NaN,4.342703,NaN,20.777779,42.354343,NaN
2001-01-05,33.650272,NaN,NaN,0.249256,NaN,8.693313,11.536950,1.611111,NaN,25.589275,...,NaN,10.388003,20.774807,10.164991,NaN,4.206240,NaN,20.166668,41.874535,NaN
2001-01-08,32.542599,NaN,NaN,0.252110,NaN,9.223099,11.419571,1.645833,NaN,24.626575,...,NaN,10.515618,20.681225,10.473574,NaN,4.182158,NaN,19.861111,41.961769,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-06,151.124619,14.33,144.008362,142.910004,162.178314,169.320007,103.391869,60.540001,284.247314,331.149994,...,85.410004,68.847343,103.879997,29.988510,110.809998,130.619995,121.160225,254.210007,47.139999,153.050003
2022-12-07,153.501068,13.55,145.116638,140.940002,163.842499,170.289993,104.337585,60.150002,285.522095,326.679993,...,84.959999,68.400414,103.650002,29.639923,110.980003,128.270004,123.954926,252.539993,47.049999,150.250000
2022-12-08,156.047272,13.60,145.057266,142.649994,164.426941,170.460007,106.438080,60.560001,290.959839,332.579987,...,86.430000,69.334000,104.419998,30.157825,111.339996,129.850006,125.601799,252.820007,47.380001,153.679993
2022-12-09,152.722229,13.53,144.374481,142.160004,161.524536,165.330002,107.025421,60.040001,287.235107,330.640015,...,84.989998,69.363792,103.540001,30.137905,111.230003,127.709999,124.164528,251.449997,47.490002,153.389999
2022-12-12,155.098694,14.20,144.404175,144.490005,163.763260,167.199997,108.996490,60.000000,291.149078,338.170013,...,86.410004,71.101860,106.089996,30.396856,113.290001,129.639999,125.891251,258.100006,48.400002,152.860001

In [27]:
snp_prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2001-01-02,31.091171,NaN,NaN,0.226423,NaN,9.620437,12.912001,1.611111,NaN,23.221334,...,NaN,11.562074,22.240898,11.326708,NaN,4.101889,NaN,18.833332,41.830925,NaN
2001-01-03,34.299606,NaN,NaN,0.249256,NaN,9.813091,12.626930,1.611111,NaN,28.787943,...,NaN,11.153707,21.273911,10.745851,NaN,4.334673,NaN,20.861111,43.226715,NaN
2001-01-04,35.598240,NaN,NaN,0.259721,NaN,9.006367,11.469877,1.611111,NaN,26.707256,...,NaN,10.362479,20.681225,10.056082,NaN,4.342703,NaN,20.777779,42.354343,NaN
2001-01-05,33.650272,NaN,NaN,0.249256,NaN,8.693313,11.536950,1.611111,NaN,25.589275,...,NaN,10.388003,20.774807,10.164991,NaN,4.206240,NaN,20.166668,41.874535,NaN
2001-01-08,32.542599,NaN,NaN,0.252110,NaN,9.223099,11.419571,1.645833,NaN,24.626575,...,NaN,10.515618,20.681225,10.473574,NaN,4.182158,NaN,19.861111,41.961769,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-06,151.124619,14.33,144.008362,142.910004,162.178314,169.320007,103.391869,60.540001,284.247314,331.149994,...,85.410004,68.847343,103.879997,29.988510,110.809998,130.619995,121.160225,254.210007,47.139999,153.050003
2022-12-07,153.501068,13.55,145.116638,140.940002,163.842499,170.289993,104.337585,60.150002,285.522095,326.679993,...,84.959999,68.400414,103.650002,29.639923,110.980003,128.270004,123.954926,252.539993,47.049999,150.250000
2022-12-08,156.047272,13.60,145.057266,142.649994,164.426941,170.460007,106.438080,60.560001,290.959839,332.579987,...,86.430000,69.334000,104.419998,30.157825,111.339996,129.850006,125.601799,252.820007,47.380001,153.679993
2022-12-09,152.722229,13.53,144.374481,142.160004,161.524536,165.330002,107.025421,60.040001,287.235107,330.640015,...,84.989998,69.363792,103.540001,30.137905,111.230003,127.709999,124.164528,251.449997,47.490002,153.389999
2022-12-12,155.098694,14.20,144.404175,144.490005,163.763260,167.199997,108.996490,60.000000,291.149078,338.170013,...,86.410004,71.101860,106.089996,30.396856,113.290001,129.639999,125.891251,258.100006,48.400002,152.860001

In [ ]:
 snp_prices.head()

Date
2001-01-02    4.550942
2001-01-03    4.481195
2001-01-04    4.219647
2001-01-05    4.219647
2001-01-08    4.224007
Name: Adj Close, dtype: float64

In [28]:
snpdatafinal = pd.DataFrame(snp_prices)

In [62]:
snpdatafinal

            Adj Close
Date
2001-01-02   4.550943
2001-01-03   4.481195
2001-01-04   4.219644
2001-01-05   4.219644
2001-01-08   4.224004
...               ...
2022-11-21  70.470001
2022-11-22  72.239998
2022-11-23  72.570000
2022-11-25  72.730003
2022-11-28  71.930000

[5512 rows x 1 columns]

In [30]:
snp_data_to_csv4 = snpdatafinal.to_csv('C:/Users/louis/Downloads/snp_500_data9.csv')